// Colors
$black = #222
$violetDark = #3D0066
$violetMedium = #6A0AAB
$grayDark = #444;
$grayMedium = #d5d5d5
$grayLight = #eee
$whiteGray = #fafafa

// Fonts
$helvetica = Helvetica, Roboto, sans-serif
