.header
  display flex
  margin-bottom 40px
  padding 0 20px
  border-bottom 1px solid $grayMedium

  &__link
    margin-right 20px
    padding 10px 0
    font 400 16px/26px $helvetica
    color $grayDark
    text-decoration none
    transition color .2s ease-in
    &:hover
      color $violetMedium
    &:last-child
      margin 0 0 0 auto
