.layout
  display flex
  flex-direction column
  min-height 100vh
  background-color $whiteGray

  &__page
    flex-grow 1
    width 100%
    max-width 900px
    margin-left auto
    margin-right auto
    padding 0 20px
    box-sizing border-box
